.root {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #1d1d41;
  background-image: none;
  background-repeat: repeat;
  background-position: 0%;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  padding-bottom: 54px;
  padding-left: 28px;
  padding-right: 28px;
  width: auto;
}
.logo-wrapper {
  padding-top: 57px;
  margin: 0px 0px 61px;
}
.top-side-buttons-wrapper {
  border-bottom: 1px solid #4b4b99;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

.theme-switcher-text {
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  margin: 19px;
  flex: 1;
  text-align: left;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 253px;
  margin-top: 40px;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: #b0f6ff;
  border-radius: 50%;
}

.user-details {
  margin-left: 12px;
  text-align: left;
  flex: 1;

  h3 {
    size: 20px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
  }

  p {
    size: 16px;
    line-height: 21.6px;
    color: #f0f0fb;
  }
}
